@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #1F2937;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #374151;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #4B5563;
    }
    .custom-row {
      height: 100vh;
      align-items: center;
      justify-content: center;
      background-color: #dfdfdf;
    }
}